*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: white !important;
}
.navbar-nav{
    margin-left: auto !important;

}
.nav-link{
    font-weight: 500;
}
.navbar-brand{
    font-size: 2.25rem;
    font-weight: 700;
    color:#59ab6e !important;
}
.nav-icons>i{
    margin-right: 10px;
}
/* hero_section */
.hero_img-container>img{
    width: 350px;
}
.hero_section{
    background-color: rgb(236, 233, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
}
.hero_text-container>h1{
    font-size: 3rem;
    font-weight: 300;
margin-bottom: 1rem;
}
.hero_text-container >h3{
    color: #59ab6e;
    margin-bottom: 1rem;
    font-size: 2rem;
}
/* Aboutus */
.about-us-section{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-top: 5rem;
margin-bottom: 5rem;
text-align: center;
/* height: 70vh; */
}
.services-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2rem;
}
.service{

    height: 13rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.11) ;
    transition: all 0.2s ease-in;
}
.service>i{
    font-size: 2.25rem;
    margin-bottom: 10px;
    color: #59ab6e;
}
.service >h4{
    font-size: 20px;
}
.service:hover{
    color: white;
    background-color: #59ab6e;
}
.service:hover>i{
    color: white;
}
/* Our brand */
.our-brand-section{
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    /* height: 70vh; */
}
.brands-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2rem;
}
.brands-container>img{
    width: 150px;
    filter:grayscale(100%) ;
    opacity: 0.5;
}
/* Categories */
.categories-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}
.categories-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
.categories-product>h6{
font-size: 20px;
margin-bottom: 1rem;

}
.categories-product>button{
    border: none;
    outline: none;
    color: white;
    background-color: #59ab6e;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 400;
}
.categories-product>img{
    width:200px;
border-radius: 50%;
margin-bottom: 1rem;
}

/* featured-product-section */
.featured-product-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    background-color: tgray;
}
.feature-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2rem;
}
.featured-product-section{
    text-align: center;
    margin-bottom: 2rem;
     background-color: #efefef; 
    padding-top: 5rem;
    padding-bottom: 5rem; 
 } 
.feature-product>img{

    width: 420px;
    height: 300px;
}
.feature-text>p{
    color:gray;
}
.stars-price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}
.stars-price-container>p{
    margin-right: 2rem;
    padding-top: 0.5rem;
    color:gray;
}
.reviews{
    color:gray;
}
.stars{
    margin-left: 1rem;
}
.stars .fa-solid{ 
    color:#ede861 ;
}
.feature-text{
    background-color: #fff;
    padding: 0.5rem;
   
}
.feature-product{
    margin-top: 2rem;
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.11) ;
}
/* shop- */
.shop-product>img{
    width: 300px;

}
.shop-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.shop-section>p{
    text-align: center;
    margin-bottom: 2rem;
}
.shop-text-part{
    padding: 0.5rem;
}
.shop-text-part>h4{
    font-weight: 300;
}
.shop-star-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop-star .fa-solid{
    color: #ede861;
}
.shop-product{
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.11) ;
}
.shop-product-container{
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3,550px);
    grid-template-columns: repeat(auto-fit, minmax(250px,300px));
    grid-gap: 2rem;
    width: 80%;
}
/* Contact */
.contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:#efefef;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.contact-section>p{
    text-align: center;
    margin-bottom: 2rem;
}
.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
.input-fields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input-fields>input{
    margin-bottom: 2rem;
    outline: 0;
    padding: 8px 20px;
    width: 20rem;
}
.text-area{
    padding: 8px 30px ;
    outline: none;
}
.contact-button{
    background-color: #59ab6e;
    color: white;
    outline: none;
    border: none;
    padding: 7px 18px;
    margin: 1rem;
}