*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: white !important;
}
.navbar-nav{
    margin-left: auto !important;

}
.nav-link{
    font-weight: 500;
}
.navbar-brand{
    font-size: 2.25rem;
    font-weight: 700;
    color:#59ab6e !important;
}
.nav-icons>i{
    margin-right: 10px;
}
/* hero_section */
.hero_img-container>img{
    width: 350px;
}
.hero_section{
    background-color: rgb(236, 233, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.hero_text-container>h1{
    font-size: 3rem;
    font-weight: 300;
margin-bottom: 1rem;
}
.hero_text-container >h3{
    color: #59ab6e;
    margin-bottom: 1rem;
    font-size: 2rem;
}
/* Aboutus */
.about-us-section{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-top: 5rem;
margin-bottom: 5rem;
text-align: center;
}
.services-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2rem;
}
.service{

    height: 13rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.11) ;
    transition: all 0.2s ease-in;
}
.service>i{
    font-size: 2.25rem;
    margin-bottom: 10px;
    color: #59ab6e;
}
.service >h4{
    font-size: 20px;
}
.service:hover{
    color: white;
    background-color: #59ab6e;
}
.service:hover>i{
    color: white;
}